In [771]:
import pandas as pd 
import matplotlib.pyplot as plt

In [772]:
path = r'C:\Users\nicol\OneDrive\Documentos\GitHub\Student_Depression\data\student_depression_dataset.csv'

df = pd.read_csv(path, sep=',')

In [773]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [774]:
df.shape

(27901, 18)

In [775]:
print(df.isna().sum())

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [776]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27901 non-null  object
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(7), int64(2), object(9)
memory usage: 3.8+ MB

In [777]:
df.sort_values(by='id',ascending=True)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,'Less than 5 hours',Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,'5-6 hours',Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,'Less than 5 hours',Healthy,BCA,Yes,2.0,3.0,Yes,1

In [778]:
df.groupby('Gender').size()

Gender
Female    12354
Male      15547
dtype: int64

In [779]:
df['Age']=df['Age'].astype('int')

In [780]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  int64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27901 non-null  object
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(6), int64(3), object(9)
memory usage: 3.8+ MB

In [781]:
df.groupby('City').size().sort_values(ascending=True)

City
'Less Delhi'               1
'Less than 5 Kalyan'       1
3.0                        1
Harsh                      1
Gaurav                     1
M.Com                      1
Khaziabad                  1
Kibara                     1
Mira                       1
M.Tech                     1
Mihir                      1
ME                         1
Rashi                      1
Nandini                    1
Nalini                     1
Nalyan                     1
Vaanya                     1
Reyansh                    1
Harsha                     2
Saanvi                     2
Bhavna                     2
City                       2
Faridabad                461
Nashik                   547
Kanpur                   609
Indore                   643
Nagpur                   651
Varanasi                 685
Vadodara                 694
Mumbai                   699
Ghaziabad                745
Bangalore                767
Delhi                    768
Rajkot                   816
Meerut                   825
Chennai                  885
Bhopal                   934
Ahmedabad                951
Pune                     968
Visakhapatnam            969
Patna                   1007
Jaipur                  1036
Kolkata                 1066
Surat                   1078
Agra                    1094
Ludhiana                1111
Thane                   1139
Lucknow                 1155
Vasai-Virar             1290
Hyderabad               1340
Srinagar                1372
Kalyan                  1570
dtype: int64

In [782]:
# Aseguramos que los datos estén limpios
df['City'] = df['City'].astype(str).str.strip()

# Obtenemos el conteo de personas por ciudad
conteo = df['City'].value_counts()

# Nos quedamos con las ciudades que tienen al menos 2 personas
ciudades_validas = conteo[conteo >= 4].index

# Filtramos el DataFrame original
df = df[df['City'].isin(ciudades_validas)]
df['City'].value_counts()

City
Kalyan           1570
Srinagar         1372
Hyderabad        1340
Vasai-Virar      1290
Lucknow          1155
Thane            1139
Ludhiana         1111
Agra             1094
Surat            1078
Kolkata          1066
Jaipur           1036
Patna            1007
Visakhapatnam     969
Pune              968
Ahmedabad         951
Bhopal            934
Chennai           885
Meerut            825
Rajkot            816
Delhi             768
Bangalore         767
Ghaziabad         745
Mumbai            699
Vadodara          694
Varanasi          685
Nagpur            651
Indore            643
Kanpur            609
Nashik            547
Faridabad         461
Name: count, dtype: int64

In [783]:
df.groupby('Profession').size()

Profession
'Civil Engineer'                1
'Content Writer'                2
'Digital Marketer'              3
'Educational Consultant'        1
'UX/UI Designer'                1
Architect                       8
Chef                            2
Doctor                          2
Entrepreneur                    1
Lawyer                          1
Manager                         1
Pharmacist                      2
Student                     27844
Teacher                         6
dtype: int64

In [784]:
df = df[df['Profession'] == 'Student']

In [785]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [786]:
df.groupby('Academic Pressure').size()

Academic Pressure
0.0       9
1.0    4796
2.0    4169
3.0    7441
4.0    5146
5.0    6283
dtype: int64

In [787]:
reemplazos = {
    0.0: 'Ninguna',
    1.0: 'Poco',
    2.0: 'Normal',
    3.0: 'Un poco más de lo normal',
    4.0: 'Presión',
    5.0: 'Mucha presión'
}

# Reemplazamos los valores
df['Academic Pressure'] = df['Academic Pressure'].replace(reemplazos)

# Convertimos la columna a tipo objeto (texto)
df['Academic Pressure'] = df['Academic Pressure'].astype('object')

# Verificamos
df.groupby('Academic Pressure').size()

Academic Pressure
Mucha presión               6283
Ninguna                        9
Normal                      4169
Poco                        4796
Presión                     5146
Un poco más de lo normal    7441
dtype: int64

In [788]:
df = df.drop(columns=['Work Pressure','Job Satisfaction'])

In [789]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33,Visakhapatnam,Student,Mucha presión,8.97,2.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24,Bangalore,Student,Normal,5.90,5.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31,Srinagar,Student,Un poco más de lo normal,7.03,5.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28,Varanasi,Student,Un poco más de lo normal,5.59,2.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25,Jaipur,Student,Presión,8.13,3.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [790]:
# Aseguramos que la columna esté en formato numérico
df['CGPA'] = df['CGPA'].astype(str).str.replace(',', '.').astype(float)

# Redondeamos al entero más cercano
df['CGPA'] = df['CGPA'].round().astype('int')
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33,Visakhapatnam,Student,Mucha presión,9,2.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24,Bangalore,Student,Normal,6,5.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31,Srinagar,Student,Un poco más de lo normal,7,5.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28,Varanasi,Student,Un poco más de lo normal,6,2.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25,Jaipur,Student,Presión,8,3.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [791]:
# Aseguramos que la columna esté en formato numérico
df['Study Satisfaction'] = df['Study Satisfaction'].astype(str).str.replace(',', '.').astype(float)

# Redondeamos al entero más cercano
df['Study Satisfaction'] = df['Study Satisfaction'].round().astype('int')
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33,Visakhapatnam,Student,Mucha presión,9,2,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24,Bangalore,Student,Normal,6,5,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31,Srinagar,Student,Un poco más de lo normal,7,5,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28,Varanasi,Student,Un poco más de lo normal,6,2,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25,Jaipur,Student,Presión,8,3,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [792]:
df.groupby('Sleep Duration').size()

Sleep Duration
'5-6 hours'            6171
'7-8 hours'            7327
'Less than 5 hours'    8296
'More than 8 hours'    6032
Others                   18
dtype: int64

In [793]:
df.groupby('Dietary Habits').size()

Dietary Habits
Healthy       7632
Moderate      9904
Others          12
Unhealthy    10296
dtype: int64

In [794]:
df.groupby('Degree').size()

Degree
'Class 12'    6075
B.Arch        1477
B.Com         1505
B.Ed          1861
B.Pharm        809
B.Tech        1152
BA             597
BBA            695
BCA           1430
BE             610
BHM            921
BSc            885
LLB            670
LLM            480
M.Com          733
M.Ed           819
M.Pharm        581
M.Tech        1021
MA             542
MBA            561
MBBS           694
MCA           1042
MD             568
ME             185
MHM            191
MSc           1184
Others          35
PhD            521
dtype: int64

In [795]:
df['Work/Study Hours'] = df['Work/Study Hours'].astype('int')

In [796]:
df.groupby('Financial Stress').size()
df = df[df['Financial Stress'] !='?']

In [797]:
reemplazoss = {
    '0.0': 'Ninguna',
    '1.0': 'Poco',
    '2.0': 'Normal',
    '3.0': 'Un poco más de lo normal',
    '4.0': 'Presión',
    '5.0': 'Mucha presión'
}
df['Financial Stress'] = df['Financial Stress'].replace(reemplazoss)


# Verificamos
df.groupby('Financial Stress').size()

Financial Stress
Mucha presión               6696
Normal                      5051
Poco                        5109
Presión                     5769
Un poco más de lo normal    5216
dtype: int64

In [798]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33,Visakhapatnam,Student,Mucha presión,9,2,'5-6 hours',Healthy,B.Pharm,Yes,3,Poco,No,1
1,8,Female,24,Bangalore,Student,Normal,6,5,'5-6 hours',Moderate,BSc,No,3,Normal,Yes,0
2,26,Male,31,Srinagar,Student,Un poco más de lo normal,7,5,'Less than 5 hours',Healthy,BA,No,9,Poco,Yes,0
3,30,Female,28,Varanasi,Student,Un poco más de lo normal,6,2,'7-8 hours',Moderate,BCA,Yes,4,Mucha presión,Yes,1
4,32,Female,25,Jaipur,Student,Presión,8,3,'5-6 hours',Moderate,M.Tech,Yes,1,Poco,No,0

In [799]:
df.groupby('Family History of Mental Illness').size()

Family History of Mental Illness
No     14367
Yes    13474
dtype: int64

In [800]:
deprecion = {
    0 : 'NO',
    1 : 'SI'
}
df['Depression'] = df['Depression'].replace(deprecion)

# Convertimos la columna a tipo objeto (texto)
df['Depression'] = df['Depression'].astype('object')

In [801]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33,Visakhapatnam,Student,Mucha presión,9,2,'5-6 hours',Healthy,B.Pharm,Yes,3,Poco,No,SI
1,8,Female,24,Bangalore,Student,Normal,6,5,'5-6 hours',Moderate,BSc,No,3,Normal,Yes,NO
2,26,Male,31,Srinagar,Student,Un poco más de lo normal,7,5,'Less than 5 hours',Healthy,BA,No,9,Poco,Yes,NO
3,30,Female,28,Varanasi,Student,Un poco más de lo normal,6,2,'7-8 hours',Moderate,BCA,Yes,4,Mucha presión,Yes,SI
4,32,Female,25,Jaipur,Student,Presión,8,3,'5-6 hours',Moderate,M.Tech,Yes,1,Poco,No,NO